* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: #f4f4f4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.screen {
	height: 4rem;
	margin-bottom: 4rem;
	background: rgb(138, 66, 138);
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.wrapper {
	background: #f6f8f9;
	width: 20rem;
	padding: 2rem;
	margin-top: 4rem;
	border-radius: 1rem;
	box-shadow: -18px 16px 15px -3px rgba(0, 0, 0, 0.1);
}

.button {
	align-items: center;
	background: #333;
	color: white;
	border-radius: 50%;
	display: flex;
	font-size: 23px;
	height: 55px;
	width: 55px;
	justify-content: center;
}

.button-function {
	color: black;
	background: #a5a5a5;
}

.button-operator {
	background: #f1a33c;
}

.button-number-0 {
	width: 110px;
	border-radius: 55px;
	justify-content: flex-start;
	padding-left: 43px;
	grid-column: 1 / span 2;
}

.buttonBox {
	/* Button layouts and spacing */
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 5px;
}
