body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1e5631;
	background-image: linear-gradient(315deg, #68bb59 0%, #1e5631 74%);
	/* Centers Calculator and background/background color */
}

/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
